.service {
  margin: 82px 0 0 0;
  text-align: center;

  &-heading {
    padding-bottom: 80px;
    text-align: center;

    &-title {
      margin-bottom: 30px;
    }
  }

  &-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    margin-bottom: 70px;

    &-item {
      display: flex;
      align-items: center;
      text-align: center;
      flex-direction: column;
      padding: 50px 35px 60px;
      border: 1px solid rgba(97, 119, 152, 0.2);
      border-radius: 20px;
      transition: all .2s linear;

      &:hover {
        box-shadow: 0 20px 50px rgba(79, 119, 255, 0.2);
        ;
      }
    }

    &-title {
      margin: 22px 0 40px 0;
      text-transform: capitalize;
      font-weight: 500;
      color: rgba(18, 15, 31, 1);
      ;
    }
  }

  &-link {
    background-color: $bg-primary;
    color: #fff;
    font-weight: 500;
    text-transform: uppercase;
    border-radius: 5px;
    padding: 16px 32px;
  }
}